<div class="card my-5">
    <div class="card-body">
      <h4>Users List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)"
        >
          {{ user.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentUser.id">
        <h4>User</h4>
        <div>
          <label><strong>Name:</strong></label> 
          {{ currentUser.name }}
        </div>
        <div>
          <label><strong>Lastname:</strong></label>
          {{ currentUser.lastname }}
        </div>
        <div>
          <label><strong>Mail:</strong></label>
            {{ currentUser.mail}}
        </div>
    </div>
  </div>
